
body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  margin:0;
}

header {
  padding: 2rem;
}

header,
.section2 {
  background: #2E354F;
  color: white;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  color:#EF5839;
  margin-block: 2rem .5rem;
}
p {
  font-size: 1.125rem;
}

.mw * {
  max-width: 620px;
  margin-inline: auto;
}

a {
  color: #EF5839;
}

a:hover,
a:focus {
  opacity: .75;
}

.section2 {
  padding: 1rem 0 2rem;;
}

.btn {
  padding: 10px 25px;
  border: none;
  background: #EF5839;
  color: white;
  font-weight: 900;
  margin-inline: 0 .5rem;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  opacity: .75;
}

.accent {
  color:#2E354F;
  background:#FFF;
}

